<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <% if (prods.length > 0) { %>
    <% for (let product of prods) { %>
  <div class="card m-5" style="width: 18rem;">
    <img class="card-img-top" src="<%= product.imageUrl %>" alt="<%= product.imageUrl %>">
    <div class="card-body">
      <h5 class="card-title"><%= product.title %></h5>
      <p class="card-text"><%= product.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">PKR<%= product.price %></li>
    </ul>
    <div class="card-body">
      <a href="/admin/edit-product" class="card-link btn btn-outline-warning m-2">Edit</a>
      <form action="/admin/delete-product" method="POST"> 
        <button class="btn btn-outline-danger" type="submit">Delete</button>
      </form>
    </div>
  </div>
  <% } %>
  <% } else { %>
    <h1>No products in list</h1>
    <% } %>
        </div>
    </div>
    <%- include('../includes/end.ejs') %>
